$btn-color: #86C232;
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body {
    font-family: 'open sans', sans-serif;
}

form {
    margin: 10px auto;
    width: 98%;
    overflow: hidden;
    position: relative;
    .head {
        color: $btn-color;
        font-size: 34px;
        font-weight: bold;
        padding: 15px;
        text-align: center;
        text-transform: uppercase;
    }
    .login-button{
        background-color: $btn-color;
        border-style: none;
        width: 100%;
        padding: 0.7em;
        margin: 2% 0%;
        transition: all .2s ease-in-out; 
    }
    .login-button:hover{
        background-color: #222629!important;
        opacity: 0.5;
        color: #fff!important;
        border: hidden;
    }
    .login-button:active{
        border: hidden;
    }
    .forgot{
        margin-bottom: 10%;
        float: right;
    }
    #signup{
        margin-top: 10%;
        text-align: center;
        margin-left: 19%;
    }
    .login-button[disabled]{
        background-color: $btn-color;
    }
    a{
        color: #86C232;
    }
}
   
