.fav-btn {
    border: none;
    margin-right: 70px;
    cursor: pointer;
    i {
        color: #86C232 !important;
    }

    outline: none !important;
}

.fav-btn :hover {
    color: #86C232 !important;

}
