$color-black:black;
p { color: $color-black; }

.form_container{
    margin: 80px auto;
    padding: 10px 20px 70px 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 460px;
    h1{
        color: #86c232;
    }
}

body{
    color: black!important;
}

.button-success.disabled {
    cursor: not-allowed
}
