#article-comments input{
    width:100%;
}
#editArticleButton {
  background-color: #86C232;
  border-style: none;
  font-size: 1.5em;
}
.pull-right{
    padding-left: 5px!important;
}
.react-button {
    cursor: pointer!important;
    background-color:#838688!important;
    border: none;
}
.react-button i {
    color: white!important;
}
.react-button i:hover{
    color: #86C232!important;
}
.true {
    background-color:#86C232!important;
}
#msg{
    color: #86C232;
    display: block;
    margin-top: 25px;
    font-size: 1.2em;
}

.art-fun {
    padding-right: 30px;
    color: #86C232;

}
