.new_password_label{
    margin-right: 28px;
}

.repeat_password_label{
    margin-right: 8px;
}

.input{
    padding: 7px;
    border-radius: 5px;
    width: 250px;
}

.button-success{
    // padding: 8px 1px;
    margin-left: 25px;
    //  border-radius: 5px;
    color: white;
    background-color: #86c232;
    //  width: 300px;
    margin-left: 130px;
    padding: 7px;
    border-radius: 5px;
    width: 270px;
}

/* The message box is shown when the user clicks on the password field */
.message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }

  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }

  .alert {
    color: #4F8A10;
    font-family: 'Courier New', Courier, monospace;
}
