$font-stack:    "Segoe UI", Arial, sans-serif;
$primary-color: #86c232;
$secondary-color: #222629;

// $npm run build-css will print in generated css
#articleUpdateForm {
    width:95%;
    border: 1px solid LightGray;
    align-content: center;
    margin:2em;
    display: flex;
    padding: 2em;
    border-radius: 5px;
}
.article-update-form > li {
    list-style: none;
}
ul > li {

    text-decoration: none;
  }
ul > li > input, textarea {
    width: 100%;
}
#articleDescription {
    height: 4em;
}
#articleBody {
    display: none;
}
#publishBtn {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;
    height: 40px;
    width: 15%;
    min-width: 120px;
}
#publishBtn:hover {
    background-color: #222629!important;
    opacity: 0.7;
    color: #fff!important;
}
label {
    font-weight: bold;
}
// editorToolbar css
.demo-wrapper {
    border-style: solid;
    border-width: 0.5px;

    border-color: LightGray;
    border-radius: 5px;
}
.demo-editor {
    padding-top: 0px;
    border-style: solid;
    border-width: 0.5px;
    border-color: inherit;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 5px;
    height: 200px;
}
.toolbar-class {
    margin: 0.3em;
    border-radius: 5px;
}
